!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/CSS/style.css')
    link(rel='stylesheet', type='text/css', href='/CSS/ui-lightness/jquery-ui-1.8.23.custom.css')
    script(type='text/javascript', src='/JS/libs/jquery-1.7.2.js')
    script(type='text/javascript', src='/JS/libs/jquery-ui-1.8.23.custom.min.js')
    script(type='text/javascript', src='/JS/libs/underscore.js')
    script(type='text/javascript', src='/JS/libs/backbone.js')
    script(type='text/javascript', src='/JS/libs/xdate.dev.js')
    title STLFR Admin Panel

    script#homepage(type='text/template')
      div.tac
        a(href='#volunteer') Volunteer Management
        br
        a(href='#foodrun') Delivery Management
        br
        a(href='#invoice') Invoice

    script#volunteer(type='text/template')
      h2.tac Volunteer Info
      br
      div#entry.tac
        h3 New Volunteer Entry
        table(style='margin-left:auto;margin-right:auto')
          tr(style='text-align:right')
            td First Name:
            td
              input#firstName(type='text', name='firstName')
          tr(style='text-align:right')
            td Last Name:
            td
              input#lastName(type='text', name='lastName')
          tr(style='text-align:right')
            td Phone Number:
            td
              input#phoneNumber(type='text', name='phoneNumber', value='(###) ###-####')
          tr(style='text-align:right')
            td Email:
            td
              input#email(type='text', name='email')
        input#newSubmit(type='button', value='Submit')
      br
      div#removal
        h3.tac Volunteer Removal
        p.tac Click on a volunteer to remove it from the database.
        table#volunteerList.border(style="margin-left: auto;margin-right: auto;", cellpadding='10px')
          tr
            th First Name
            th Last Name
            th Phone Number
            th Email
            th Success #
            th Failure #
            th Last Delivery Date
            th Sent Surveys

    script#volunteer-row(type='text/template')
      tr(id!='<%= volunteer_id %>')
        td(style='padding:2px;') <%= first_name %>
        td(style='padding:2px;') <%= last_name %>
        td(style='padding:2px;') <%= phone_number %>
        td(style='padding:2px;') <%= email %>
        td(style='padding:2px;') <%= success %>
        td(style='padding:2px;') <%= failure %>
        td(style='padding:2px;') <% if(last_delivery_date != null) print(XDate(last_delivery_date).toString("MMM dd, yyyy")); else print("Never"); %>
        td(style='padding:2px;') <% if(sent_first_survey) print("Yes"); else print("No"); %>

    script#foodrun(type='text/template')
      h2.tac Deliveries
      br
      div#entry.tac
        h3 New Delivery Entry
        label(for='date') Date:
        input#date(type='text')
        select#time
          option(value='21:00:00') 9:00 PM
          option(value='22:00:00') 10:00 PM
        br
        label(for='pick-up') Pick-up Location:
        select#pick-up
          option(value='2') Whole Foods
        br
        label(for='drop-off') Drop-off Location
        select#drop-off
          option(value='2') Salvation Army
          option(value='3') New Life
        br
        input#newSubmit(type='button', value='Submit')
      br
      div#removal
        h3.tac Delivery Removal
        p.tac Click on a delivery to remove it from the database.
        table#foodRunList.border(style="margin-left: auto;margin-right: auto;", cellpadding='10px')
          tr
            th(width='125px') Date
            th Pickup Location
            th Dropoff Location
            th Total Volunteer #
            th Total Vehicle #

    script#foodRun-row(type='text/template')
      tr(id!='<%= food_run_id %>')
        td(style='padding:2px;') <%= new XDate(time, true).toString('MM/dd/yy h:mmTT') %>
        td(style='padding:2px') <% switch(pick_up_location) { case 2: print("Whole Foods"); break; } %>
        td(style='padding:2px') <% switch (drop_off_location) { case 2: print("Salvation Army"); break; case 3: print("New Life");} %>
        td(style='padding:2px') <%= total_volunteer_amount %>
        td(style='padding:2px') <%= total_car_amount %>

    script#invoice(type='text/template')
      h2.tac Invoice
      br
      h3#week1Header.tac Week 1
      div#week1
      br
      h3#week2Header.tac Week 2
      div#week2

    script#invoice-foodrun-container(type='text/template')
      h3 <%= new XDate(time, true).toString('dddd, MM/dd/yy \'at\' h:mmTT') %> : <% switch (drop_off_location) { case 2: print("Salvation Army"); break; case 3: print("New Life");} %>

    script#invoice-foodrun(type='text/template')
      <%= first_name %> <%= last_name %>, <%= volunteer_amount %> Volunteers, <%= car_amount %> Cars
      br

    script(type='text/javascript', src='/JS/admin.js')
  body
    a(href='#') Home
    #inject