!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet',type='text/css', href='/CSS/style.css')
    script(type='text/javascript', src='/JS/libs/jquery-1.7.2.js')
    script(type='text/javascript', src='/JS/auth.js')
    title Login
  body
    h2.tac Admin Login
    div.paddedForm
      - if (typeof error_message !== 'undefined')
        p.red
          =error_message
      form#login.paddedForm(action='/admin/login', method='POST', onSubmit="return client_auth.login.submit()")
        label(for='email') Username:
        input#username(type='text', name='username', maxlength='50')
        label(for='password') Password:
        input#password(type='password', name='password', maxlength='50')
        input(type='submit', value='Login')