doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="google-site-verification", content="qjnIYaXsy7I0T8EFb4LP8tE68X-TTjLXDnRVpr7h-g0")
    link(rel='stylesheet', type='text/css', href='/CSS/style.css')
    script(type='text/javascript', src='/JS/libs/jquery-1.7.2.js')
    script(type='text/javascript', src='/JS/libs/jquery.simplemodal-1.4.2.js')
    script(type='text/javascript', src='/JS/libs/underscore.js')
    script(type='text/javascript', src='/JS/libs/backbone.js')
    script(type='text/javascript', src='/JS/libs/xdate.dev.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34568628-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    link(rel='canonical', href='http://deliver.stlfoodrescue.org/')
    title St. Louis Food Rescue

    body.bg
      .bg.tac
          .main
            .header
              a.head(href="#") St. Louis Food Rescue
              span.slogan Collecting food for those who need it the most
              a(href='https://twitter.com/_STLFR', target='_twblank')
                img(src='/images/twitter-icon.png', alt='Twitter', style='vertical-align: middle;display:block; float:right; padding-top:25px; padding-right:6px', height='30')
              a(href='http://www.youtube.com/watch?v=hX51qyq5Xtk&list=PL128AE484D2AF0AB3&feature=view_all', target='_ytblank')
                img(src='/images/youtube2.png', alt='Youtube', style='vertical-align: middle;display:block; float:right; padding-top:24px; padding-right:6px', height='30')
              a(href='http://www.facebook.com/pages/St-Louis-Food-Rescue/164187767011687', target='_fbblank')
                img(src='/images/facebook.png', alt='Facebook', style='vertical-align: middle;display:block; float:right; padding-top:24px; padding-right:5px', height='30')
            .top-nav
              ul.list-1.fl.block.ainv
                li#homepage-li.fst
                  a(href='http://stlfoodrescue.org') Home
                li#sign-up-li.current_page_item
                  a(href='#') Sign up
            .left-edge
              .right-edge
                .bottom-edge
                  .side-paddings
            .left-edge
                .right-edge
                    .bottom-edge
                      .footer(style='height: 200px; margin-top: 10px;')
                        .footerhoby
                          | Much credit goes to
                          br
                          a(href='http://www.hoby.org/', title='HOBY', target='_blank')
                            img(src='/images/logos/HOBY.jpeg', alt='HOBY')
                          br
                          | for inspiring this organization to be created.
                          br
                          br
                        div(style='margin-left: auto; margin-right: auto; text-align: center;')
                          | PO Box 523 &nbsp; | &nbsp; St. Louis, Mo.
                          | 63040
            p.smallText Website created and maintained by Sam Pepose, sampepose@stlfoodrescue.org
            br

  script#sign-up-container-tmplt(type='text/template')
    div#sign-up-container
      h2.tac Sign up for a delivery!
      p.tac Click on an available delivery date to sign up. We ask that you have access to an SUV, minivan or truck.
      h3#week1Header Sample Week 1 Header
      table#week1.signUp.border
      br
      h3#week2Header Sample Week 2 Header
      table#week2.signUp.border
      form#popup(style='display:none')
        table
          tr
            td(style='padding-right:5px')
              label.grey(for='emailInput') Email address:
            td
              input#emailInput
          tr
            td
            td
              p#emailErrorMessage.smallText.red
          tr
            td(style='padding-right:5px')
              label.grey(for='groupSizeInput') # of volunteers:
            td
              input#groupSizeInput(maxlength=2, style='width:30px', value=1)
              div.grey.di (including yourself)
          tr
            td
            td
              p#groupErrorMessage.smallText.red
          tr
            td(style='padding-right:5px')
              label.grey(for='carAmountInput') # of vehicles:
            td
              input#carAmountInput(maxlength=2, style='width:30px', value=1)
              div.grey.di (SUV/Truck/Minivan)
          tr
            td
            td
              p#carErrorMessage.smallText.red
          tr(style='height:10px')
          tr
            td(style='padding-right:5px')
              input#cancel(type='button', value='Cancel', style='float:left', onclick='$.modal.close();')
            td
              input#submit(type='button', value='Submit', style='float:right')
      div#success-popup(style='display:none')
        h2.green Successfully signed-up!
        p.green You will receive a reminder email shortly with information regarding your food-run.
        input(type='button', onclick='$.modal.close()', value='Close', style='margin-left:auto;margin-right:auto')
      div#no-email-popup(style='display:none')
        h2.red Uh, oh!
        div.red
          p We didn't find your email in our database! If you would like to volunteer with us, please&nbsp;
            a(href='#contact-us', onclick='$.modal.close();') contact us!
          p If you believe you received this message in error, please contact Sam Pepose at sampepose@stlfoodrescue.org.
        input(type='button', onclick='$.modal.close()', value='Close', style='margin-left:auto;margin-right:auto')

  script#sign-up-table-tmplt(type='text/template')
    tr
      th
      th(scope="col", style='width:13.57%') Monday
      th(scope="col", style='width:13.57%') Tuesday
      th(scope="col", style='width:13.57%') Wednesday
      th(scope="col", style='width:13.57%') Thursday
      th(scope="col", style='width:13.57%') Friday
      th(scope="col", style='width:13.57%') Saturday
      th(scope="col", style='width:13.57%') Sunday

  script#sign-up-table-row-tmplt(type='text/template')
    th(scope="row") 9:00PM

  script#sign-up-table-cell-tmplt(type='text/template')
    <% if (typeof drop_off_location == 'undefined') { %>
    p.largeText.tac N/A
    <% } else if (typeof total_car_amount != 'undefined' && typeof total_volunteer_amount != 'undefined' && total_car_amount >= 3 && total_volunteer_amount >= 5) { %>
    p.largeText.tac Full!
    <% } else { %>
    p(style='margin-bottom:-8px').tac
      a.largeText Available!
      <% if (drop_off_location == 2) { %>
    p(style='margin-bottom:-5px').smallText.tac Salvation Army (O'Fallon)
      <% } else if (drop_off_location == 3) { %>
    p(style='margin-bottom:-5px').smallText.tac New Life (Downtown)
      <% } %>
    p(style='margin-bottom:-5px').smallText.tac
      <%= (5-total_volunteer_amount) + " volunteers needed" %>
    p.smallText.tac
      <%= (3-total_car_amount) + " vehicles needed" %>
    <% } %>

  script(type='text/javascript', src='/JS/main.js')