/*
Theme Name: Live
Theme URI: http://www.herdo.com/wordpress-themes/live
Description: WordPress theme designed by <a href="http://www.herdo.com">Herdo Web Design</a>. Valid CSS & XHTML. DIV only used. Grid based. SEO optimized.
Version: 1.1.6
Author: Herdo.com
Author URI: http://www.herdo.com
Tags: fixed width, three columns, professional, clean, valid CSS, valid XHTML, valid CSS, simple, widgets, widget ready, right sidebar, three columns, typography, w3c, seo, adsense ready, grid, green, lively

	This theme was designed and built by Herdo.com

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

/** basic **/

html, body, * html .bg {
    height: 100%;
}

table {
    border-collapse: collapse;
}

body, td, form, h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
}

map {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: normal;
}

.wf {
    width: 100%;
}

.hf {
    height: 100%;
}

.whf {
    width: 100%;
    height: 100%;
}

.tar {
    text-align: right !important;
}

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

div.di {
    display: inline !important;
}

.di img {
    display: inline !important;
}

img.di {
    display: inline !important;
}

.clr {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.clear {
    clear: both;
}

object {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.block {
    display: block;
}

.hide {
    display: none;
}

body, td, th, form, h1, h2, h3, h4, h5, h6, ul, li, p, div, a, code, blockquote {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000;
    line-height: 200%;
}

textarea, input {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000;
}

a, a:link, a:active {
    text-decoration: underline;
    color: #2281CE;
}

a:hover {
    color: #26b35a;
}

/** #ECDC2A **/
a:visited {
    color: #BA22CE;
}

.ainv a, .ainv a:link, .ainv a:visited, .ainv a:active {
    text-decoration: none;
}

.ainv a:hover {
    text-decoration: underline;
}

a.ainv:link, a.ainv:visited, a.ainv:active {
    text-decoration: none;
}

a.ainv:hover {
    text-decoration: underline;
}

/** basic **/

/**
== STRUCTURE: ========================
    * Page width:            960 px
    * Number of columns:     24
    * Column width:          20 px
    * Margin width:          20 px
======================================
**/

/* added while developing */
h1, h2 {
    display: block;
    font-weight: normal;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 22px;
}

.list-1, .list-2, .list-3, .list-4, .column-1 ul {
    list-style: none;
}

.list-1 li, .list-2 li, .list-3 li, .column-1 li {
    list-style: none;
    display: block;
}

.list-1 li {
    float: left;
    background: url(../images/vertical-dash.gif) 0 5px no-repeat;
    height: 34px;
}

.list-1 li.fst {
    background: 0 none;
}

.list-1 li.fst a {
    margin: 0 10px;
}

.list-1 li a {
    display: block;
    height: 26px;
    font-size: 15px;
    color: #000 !important;
    line-height: 220%;
    margin: 0 8px; /*20*/
}

.list-1 li.current_page_item a {
    display: block;
    height: 26px;
    padding: 8px 0.4em 0; /*1em*/
    font-size: 15px;
    font-weight: bold;
    color: #000 !important;
    line-height: 110%;
    position: relative;
    border-left: 1px solid #F5EFAF;
    border-right: 1px solid #F5EFAF;
    margin: 0 -1px 0 0;
    background: #EDDD30
}

.list-1 .fst span {
    /*padding:8px 20px 0 17px;*/
    padding: 8px 0 0 0;
}

* html .list-1 a {
    margin: 0 10px;
    float: left;
    height: 34px;
}

* html .list-1 a {
    float: left;
    height: 34px;
}

* html .list-1 li.fst a {
    margin: 0 10px 0 8px;
}

* html .list-1 li.current_page_item a {
    margin: 0 -1px 0 0;
}

.textfield {
    /* border:1px solid #B3A60F; */
    padding-left: 3px;
}

.button {
    border: 1px solid #B3A60F;
    background: #FFF;
    cursor: pointer;
}

* html .button {
    border: 0 solid #B3A60F;
}

*:first-child+html .button {
    border: 0 solid #B3A60F;
}

.title-1 {
    padding: 0px 0 17px 0;
    background: url(../images/under-title.gif) 0 bottom repeat-x;
    font-size: 15px;
    line-height: 150%;
}

.title-2, .list-3 h1, .list-3 h2 {
    font-size: 22px;
    font-weight: normal;
    line-height: 100%;
}

.list-2 *, .column-1 ul * {
    line-height: 110%;
}

.list-2 li, .column-1 li {
    padding: 12px 0 0 20px;
    background: url(../images/square.gif) 7px 19px no-repeat;
}

.list-2 li li a, .column-1 li li a {
    font-size: 13px;
}

.list-3 li {
    padding: /*20px*/ 12px 0 0 0;
}

.list-3 .fr {
    width: 440px;
    /*width: 640px /*460px/;*/
}

.list-3 .text {
    padding: 10px 0 0 0;
    line-height: 200%;
}

.list-3 p {
    padding-bottom: 0.75em;
    margin: 0;
}

.list-3 h1 {
    padding-bottom: 4px;
}

.list-3 blockquote {
    margin: 1em;
    padding-left: 3em;
    background: url(../images/quote-bottom.gif) no-repeat scroll 0 0;
}

.list-3 blockquote p {
    padding-right: 3em;
    background: url(../images/quote-top.gif) no-repeat scroll right bottom;
    font-style: italic;
}

.list-3 code {
    display: block;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    background-color: #f7f4d4;
}

.list-3 ul, .list-3 ol {
    list-style: outside disc !important;
    padding: 0 0 0.75em 0;
    margin: 0;
}

.list-3 ul li, .list-3 ol li {
    padding: 0px 0pt 0pt 20px;
}

.list-3 ul li {
    background: transparent url(../images/square-yellow.gif) no-repeat scroll 7px 12px;
}

.list-3 ol li {
    background: transparent url(../images/square-blue.gif) no-repeat scroll 7px 12px;
}

.list-4 {
    padding: 1.5em 0 1em 0;
}

.list-4 li {
    display: inline;
    list-style: none;
}

.list-4 li, .list-4 a {
    padding: 0.5em 0.5em;
}

.list-4 li a {
    line-height: 1em;
}

.list-4 li.active {
    background-color: #ecdc2a;
    font-weight: bold;
}

.title-3 {
    padding: 0 0 20px 0;
    background: url(../images/under-title-simple.gif) 0 bottom repeat-x;
    margin-bottom: 7px;
}

.list-5 {
    padding: 0 0 0 20px;
    margin: 0;
}

.list-5 li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    color: #999999;
}

div.com-header {
    padding-bottom: 13px;
    margin-bottom: 6px;
    border-bottom: 1px #ecdc2a solid;
}

div.com-header img {
    display: block;
    float: left;
}

div.com-header p {
    display: block;
    float: left;
    border: none;
    margin-left: 7px;
    position: relative;
    top: 13px;
}

.list-title-info {
    font-size: 11px;
    color: #999;
    /* padding:7px 0 0 0; */
}

.list-title-info * {
    font-size: 11px;
}

.date {
    background: url(../images/calendar-day.gif) no-repeat;
    width: 48px;
    height: 46px;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    line-height: 100%;
}

.date span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    line-height: 100%;
    padding: 1px 0 3px 0;
}

.link-list {
    padding: 0 0 5px 0;
}

.link-list a {
    margin: 0 20px 0 0;
    padding: 0 0 0 15px;
    font-size: 11px;
}

.link-list .ico-1 {
    background: url(../images/permalink.gif) 0 center no-repeat;
}

.link-list .ico-2 {
    background: url(../images/comments.gif) 0 center no-repeat;
}

/* added while developing */

.bg {
    background: #F7F4D4;
    min-height: 100%;
}

.main {
    width: 960px;
    text-align: left;
    margin: 0 auto;
    padding-top: 1.5em;
}

.header {
    /*	height:128px;
      background:url(images/bg/header.jpg) 0 0 no-repeat;*/
    height: 180px;
    background: url(../images/header2.jpg) 0 0 no-repeat;
}

.header a.head {
    display: block;
    text-decoration: none;
    font-size: 55px;
    margin-left: 164px;
    padding: 71px /*76px*/ /*23px*/ 20px 0 20px;
    color: #ECDC2A;
    line-height: 100%;
}

.header .slogan {
    font-size: 22px;
    /*padding:0 20px;*/
    padding-left: 200px;
    color: #FFF;
    line-height: 130%;
}

.top-nav {
    height: 34px;
    background: url(../images/top-nav.gif) 0 0 repeat-x;
    margin: 0 7px 0 3px;
}

.search {
    padding: 0 13px 0 0;
    position: relative;
    top: 5px;
}

.search .textfield {
    width: 170px;
}

.search .ico {
    margin: 5px 20px -6px 20px;
}

* html .search .ico {
    margin: 4px 20px -4px 20px;
}

*:first-child+html .search .ico {
    margin: 4px 20px -4px 20px;
}

.search a img {
    margin: 2px 0 -2px 0;
}

* html .search a img {
    margin: 1px 0 -1px 0;
}

*:first-child+html .search a img {
    margin: 1px 0 -1px 0;
}

.rss {
    padding-right: 15px;
}

.rss img.ico {
    position: relative;
    top: 5px;
    padding-right: 12px;
}

/**
.search {
    padding:4px 14px 0 0;
}
    .search .textfield {
        width:170px;
        margin-right: 7px;
    }
.rss {
    padding-right: 15px;
}
    .rss img.ico {
        position: relative;
        top: 5px;
        padding-right: 12px;
    }
*/
.footer {
    padding: 15px 0 0 0;
    height: 4em;
}

* html .footer {
    height: 80px;
}

.footer * {
    color: #A8A04E !important;
    text-decoration: none !important;
}

.side-paddings {
    padding: /*5px*/ 0px 20px 20px 20px;
    min-height: 1px;
}

* html .side-paddings {
    height: 1px;
}

.column-1 {
    width: 180px;
    margin: 0 0 15px 20px;
    /*	margin-top: 17px;*/
}

.column-1 div {
    margin-bottom: 1.5em;
}

.column-2 {
    width: 720px /*520px*/;
}

.left-edge {
    background: url(../images/left-edge.gif) 0 0 repeat-y #FFF;
}

.right-edge {
    background: url(../images/right-edge.gif) right 0 repeat-y;
}

.bottom-edge {
    background: url(../images/bottom-edge.gif) 0 bottom no-repeat;
}

#commentform p {
    margin-bottom: 6px;
}

#commentform label {
    margin-left: 7px;
}

/* ==== widgets ==== */

/* calender */
#wp-calendar {
    /* line-height: 100%; */
}

#wp-calendar caption {
    padding-bottom: 5px;
}

#wp-calendar th {
    padding-bottom: 0px;
    line-height: 100%;
}

#wp-calendar td {
    padding-right: 7px;
}

/* wordpress default */
.alignnone {
    float: none;
    padding: 0px 15px 5px 0;
}

.alignleft {
    float: left;
    padding: 0px 15px 5px 0;
}

.alignright {
    float: right;
    padding: 0px 0px 5px 15px;
}

.aligncenter {
    float: right;
    padding: 0px 0px 5px 15px;
}

.wp-caption {
    border: 1px solid #f7f4d4; /* #ecdc2a; */
    text-align: center;
    background-color: #f7f4d4;
    padding: 4px 0 0 0;
    margin: 0 0 15px 0;
}

.wp-caption img {
    display: block;
    margin: auto auto;
    padding: 0 0;
}

.wp-caption p.wp-caption-text {
    padding: 3px 0 !important;
}

.wp-caption-dd {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}

#titlelink {
    width: 200px;
    height: 200px;
    display: none;
}

.left-column {
    float: left;
    padding-right: 20px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.footerhoby {
    text-align: center;
}

.footerhoby.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#factContainer {
    text-align: center;
    width: 60%;
    margin: auto;
}

table.signUp {
    width: 100%;
}

table.border td, th {
    border: 1px solid black;
}

#simplemodal-overlay {
    background-color: #000;
}

#simplemodal-container {
    background-color: #333;
    border: 8px solid #444;
    padding: 12px;
}

.grey {
    color: lightgray
}

.green {
    color: green;
}

.red, .red > p {
    color: red;
}

p.smallText {
    font-size: 10px;
}

.mediumText {
    font-size: 12px;
}

p.largeText, a.largeText, strong.largeText {
    font-size: 16px;
}

div.paddedForm {
    /*margin-left: 38%;
    margin-right: 38%;*/
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    max-width: 100%;
    background-color: rgb(188, 188, 188); /* blue = 147,138,183 */
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding-right: 4px;
    padding-top: 3px;
}

.gallery li {
    display: none;
}

.gallery li:first-child {
    display: block;
}

.gallery li img {
    width: 520px;
}